<nav class="sidebar sidebar-sticky">
	<div class="sidebar-content">

		<%= link_to root_path, class: "sidebar-brand" do %>
      <p class="align-middle text-center">
	      <%= image_tag "logo.svg", size: "75x75", class: "rounded rounded-circle", alt: "logo" %>
			</p>
		<% end %>

		<ul class="sidebar-nav">

			<li class="sidebar-item">
		    <%= link_to administration_items_path, class: "sidebar-link" do %>
          	<span class="align-middle">Items</span>
        <% end %>
			</li>

		<% if admin_signed_in? %>	
			<li class="sidebar-item">
				<%= link_to destroy_admin_session_path,method: :delete, class: "sidebar-link" do %>
				<span class="align-middle">Se Déconnecter</span>
                  <% end %>
			</li>
			<%elsif user_signed_in?%>
			<li class="sidebar-item">
				<%= link_to destroy_admin_session_path,method: :delete, class: "sidebar-link" do %>
				<span class="align-middle">Se Déconnecter</span>
                  <% end %>
			</li>
			<%else%>
			<li class="sidebar-item">
				<%= link_to new_user_session_path, class: "sidebar-link" do %>
				<span class="align-middle">S'identifier</span>
                  <% end %>

			</li>
			<li class="sidebar-item">
				<%= link_to new_user_registration_path, class: "sidebar-link" do %>
				<span class="align-middle">S'inscrire</span>
                  <% end %>

			</li>
			<li class="sidebar-item">
				<%= link_to new_admin_session_path, class: "sidebar-link" do %>
				<span class="align-middle">Espace Pro</span>
                  <% end %>

			</li>

			<%end%>
		</ul>

	</div>
</nav>
